@import "tailwindcss";

@theme {
    --color-btn-purple: #9333EA;
    --font-handlee: "Handlee", cursive;

}

li:hover {
    color: var(--color-btn-purple);

}

.icon:hover {

    color: var(--color-btn-purple);
    border-color: var(--color-btn-purple);
}
