@import "tailwindcss";

@theme {
    --color-btn-purple: #9333EA;
    --font-handlee: "Handlee", cursive;

}

li:hover {
    color: var(--color-btn-purple);

}

.active {
    color: #9333EA;
}

.icon:hover {

    color: var(--color-btn-purple);
    border-color: var(--color-btn-purple);
}

.ccontainer {
    @apply lg:px-[120px] px-8 py-5
}

.btn:hover {
    background-color: #6c1db5;
}

.section {
    /* background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.sec {
    background-position: right;
    /* background-size: cove; */
}

.ser {
    background: url(assets/U.png) no-repeat right;
}



.btnn {
    @apply mx-auto bg-btn-purple px-6 py-1 text-white transition-all duration-300 ease-in-out w-fit cursor-pointer rounded-2xl font-handlee font-black text-lg lg:text-[32px]
}

.btnn:hover {
    @apply bg-purple-800
}

.see {
    @apply mx-auto relative text-white transition-all duration-300 ease-in-out w-fit cursor-pointer font-handlee font-black text-[25px] lg:text-[32px]
}

.see::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 3px;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: .4s all ease-in-out;
}

.see:hover::after {
    transform: scaleX(1);
    /* background-color: var(--color-btn-purple); */

}

.see:hover {
    /* color: var(--color-btn-purple) */
}


@layer utilities {
    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .fade-letter {
        opacity: 0;
        animation: fade-in 0.5s forwards;
        @apply px-2
    }
}

/* يمكنك وضع هذا في ملف CSS أو داخل JSX باستخدام style tag */

.slick-dots li button:before {
    color: #888;
    /* اللون الافتراضي للنقطة */
}

.slick-dots li.slick-active button:before {
    color: var(--color-btn-purple);
    /* لون النقطة النشطة (مثلاً أحمر من Tailwind: rose-400) */
}


.slick-slide>div {
    margin: 0 10px 20px;

}

.card {
    @apply lg:h-[270px] h-[300px]
}

.card>h2 {
    @apply lg:h-26 h-36
}


.shiny-text {
      font-size: 50px;
      font-weight: bold;
      background: linear-gradient(90deg, #838383, #ffffff, #838383);
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: shine 2s infinite linear;
      letter-spacing: 15px;
    }

    @keyframes shine {
      0% {
        background-position: 200% 0;
      }
      100% {
        background-position: -200% 0;
      }
    }

/* From Uiverse.io by mrpumps31232 */
.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--color-btn-purple);
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}


.lo {
    min-height: 100dvh;
}





@keyframes move-bg {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #6c1db5;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #4a1082;

}