@import "tailwindcss";

@theme {
    --color-btn-purple: #9333EA;
    --font-handlee: "Handlee", cursive;

}

li:hover {
    color: var(--color-btn-purple);

}
.active{
    color: #9333EA;
}

.icon:hover {

    color: var(--color-btn-purple);
    border-color: var(--color-btn-purple);
}

.ccontainer {
    @apply lg:px-[120px] px-8 py-5
}

.btn:hover {
    background-color: #6c1db5;
}

.section {
    /* background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.sec{
    background-position: right;
    /* background-size: cove; */
}